@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gasoek+One&display=swap');
@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RixMomsBlanketR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/RixMomsBlanketR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-link{font-family: 'Diphylleia', serif;}
.font-import {
font-family: 'Diphylleia', serif;
}

.noonnun-font {font-family: 'GoryeongStrawberry';}

.gg_font {font-family: 'Diphylleia', serif; font-family: 'Gasoek One', sans-serif;}
.nn_font {font-family: 'RixMomsBlanketR';}


/*  */
.container{width: 500px; background:aliceblue}
.sentences {font-weight: 400; font-size: 1em; 
    text-align: center;
    text-decoration: line-through;
    text-decoration: overline;
}

a{ text-decoration: none; color:black}
