.div1 {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: skyblue;
    line-height: 100px;
}

/* 가상클래스 선택자 
    hover, active, visited, focus, checked

    선택자:hover{} 요소에 마우스가 올라가 있는 동안
    선택자:active{} 요소에 마우스클릭 or 엔터가 눌리는 동안
    선택자:focus{} 요소에 포커스가 머물러 있는 동안
    선택자:visited{} 요소가 링크일때, 방문했다면 스타일 변경 (a태그)
    선택자:checked{} 요소가 체크되었을때 (radio/checkbox)
*/


.div1:hover {
    background:yellow;
    height: 150px;
}

.div1:active {
    background:orange;
    width: 150px;
}

input:focus {
    background:blueviolet;
    color:white;
    outline-color: aqua
}

a:visited{
    color:#ccc;
}

input#rabbit:checked + label {
    background-color: pink;
    color:white;
}




/* 
    - 선택자:first-child {} : E가 첫번째 자식이라면 선택
    - E:last-child {} : E가 마지막 자식이라면 선택
    - E:last-child(n){} : E가 n번쨰 자식이라면 선택
    - E:nth-of-type(n){} : E요소 중에 n번째를 선택
    - E:not(xyz){} : xyz가 아닌 E요소를 선택
*/


.zoo > * {
    background:green;
    color:white;
    font-size:20px;
}

.zoo > li:last-child {
    background:black;
}

.zoo > li:first-child {
    background:yellow;
}

.zoo > li:nth-of-type(1) {
    background:blue;
}

.zoo > *:first-child{
    background:yellowgreen;
}

/* nth는 선택자와 일치하는 태그만 선택 */
.zoo > li:nth-child(odd) {
    background:pink;
}



/* 가상요소선택자 */
/* ::after, ::before
*/

.h3 {background:yellow}

.h3::after{
    content:" after";
    color: gray;
}

.h3::before{
    content:"";
    display:inline-block;
    width: 2px;
    height:50px;
    background-color: red;
}










