body { height:2000px; background:#fff; }
.container {position: relative; width: 500px; height:500px; background:#eee; }
.container div{width: 100px; height:100px; }
.container .item1 {position:relative; left:50px; top:30px;  background-color: bisque;}
.container .item2 {position:absolute; right:30px; bottom:100px; background-color: coral;}
.container .item3 {position: fixed; right:100px; top:100px; background-color: darksalmon;}

